<% include ./partials/header.ejs %>

 <div class="profile w-full min-h-screen bg-zinc-700 text-white pt-1">
    <div class="profileDetails flex flex-col items-center mt-15">
        <div class="w-25 h-25 rounded-full bg-white"></div>
        <div class="text-l font-semibold">Priyanshu Maurya</div>
        <div class="text-xs ">@username</div>
        <a href="/edit" class="px-4 text-xs rounded-full bg-zinc-400 mt-2">Edit</a>
    </div>
 </div>
 

<% include ./partials/footer.ejs %>
